*{
    margin: 0;
    padding :0;
    box-sizing:content-box;
    font-family: poppins,sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #617eb6;
}
.container{
  padding: 35px;
  position:relative;
  height: 200px;
  width: 250px;
  background-color:#23233B ;
 border-radius: 15px;
  box-shadow: 0 4px 20px;
}
p{
  size: 10%;
  display: flex;
  justify-content: center;
  color:#E6EFFF;
}
select.formControl{
  display: flex;
  justify-self: auto;

}
label{
  
  color:#E6EFFF ;
  justify-content: center;
}
input{
  justify-content: center;
}
