* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: poppins, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #617eb6;
}

.container {
    padding: 40px;
    position: relative;
    height: 300px;
    width: 340px;
    background-color: #23233B;
    border-radius: 15px;
    box-shadow: 0 4px 20px;
}

.user-details {
    color: aliceblue;
    justify-content: center;
}

.label, .form-group, textarea, .button {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
}

input[type="date"], select, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    justify-content: center;
}

button {
    width: 50px;
    padding: 2px 5px;
    border-radius: 15px;
    color: #0E0F2A;
    background-color: #617eb6;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    
   
}
.button-container{
    display: flex;
    justify-content: flex-end;
}
#backButton, #nextButton {
   position: relative;
}
button:hover {
    background-color: #4a5d8e;
    
}

#backButton {
    background-color:#617eb6 ;
}

#backButton:hover {
    background-color: #4a5d8e;
}
.button-clicked {
    background-color: #4a5d8e; /* Adjust as needed */
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.user-details {
    animation: slideIn 2s ease-out;
}